<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>优智科技</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/amazi.ui.css">
    <link rel="stylesheet" href="/css/style.min.css">
</head>
<body>
<div class="main">
    <div class="header" style="position: relative;">
        <img src="/images/index-bg.png" width="100%" alt="" />
        <div class="header-content">
            <div class="header-icon f-l">
                <img src="/images/logo@2x.png" alt="" />
            </div>
            <div class="header-menu f-r">
                <span class="choose_menu">首页</span>
                <span>微信小程序</span>
                <span>网站开发</span>
                <span>案例</span>
                <span>关于我们</span>
            </div>
        </div>
        <div class="header-text">
            <p class="font-34">创新企业定制服务</p>
            <p class="font-28">来自优智科技永不畏惧的创新力量</p>
            <span class="read-me-span">READ MORE</span>
        </div>
    </div>
    <div class="blurb">
        <p style="color: #221815;font-size: 28px;">优智科技 让您的网站和手机公众号无所不能</p>
        <p style="color: #696969;font-size: 20px;">做企业、个人、网店、手机微信网站样样行，小程序、APP即刻拥有！</p>
        <div style="width:1100px;margin: 50px auto;">
            <img src="/images/index-material.png" width="100%" alt="" />
        </div>
    </div>
    <div class="index-icon">
        <div class="index-icon-group">
            <div class="index-icon-module">
                <div class="index-icon-module-img" style='background-position: 0px 10px;'></div>
                <div class="index-icon-module-text">pc+手机+微信网站+ 小程序+APP,五站合一</div>
            </div>
            <div class="index-icon-module">
                <div class="index-icon-module-img" style='background-position: -496px 10px;'></div>
                <div class="index-icon-module-text">小程序众多流量入口,集展示互动、交易为一体</div>
            </div>
            <div class="index-icon-module" style="width: 240px;">
                <div class="index-icon-module-img" style='background-position: -990px 20px;'></div>
                <div class="index-icon-module-text">微信无缝对接<br/>超强微信应用</div>
            </div>
        </div>
        <div class="index-icon-group">
            <div class="index-icon-module">
                <div class="index-icon-module-img" style='background-position: 0px -204px;'></div>
                <div class="index-icon-module-text">支持SEO优化<br/>PC端+手机移动端</div>
            </div>
            <div class="index-icon-module">
                <div class="index-icon-module-img" style='background-position: -485px -208px;'></div>
                <div class="index-icon-module-text">形象实力展示强<br/>激发顾客购买</div>
            </div>
            <div class="index-icon-module" style="width: 240px;">
                <div class="index-icon-module-img" style='background-position: -990px -208px;'></div>
                <div class="index-icon-module-text">强大电商应用<br/>促进成交</div>
            </div>
        </div>
        <div class="index-icon-group">
            <div class="index-icon-module">
                <div class="index-icon-module-img" style='background-position: -12px -377px;'></div>
                <div class="index-icon-module-text">实时咨询<br/>转化率高</div>
            </div>
            <div class="index-icon-module">
                <div class="index-icon-module-img" style='background-position: -490px -372px;'></div>
                <div class="index-icon-module-text">优化口碑营销</div>
            </div>
            <div class="index-icon-module" style="width: 240px;">
                <div class="index-icon-module-img" style='background-position: -990px -371px;'></div>
                <div class="index-icon-module-text">提升服务<br/>留住更多客户</div>
            </div>
        </div>
    </div>
    <div class="index-bg-one">
        <img src="/images/index-bg-1.png" width="100%" alt="" />
    </div>
    <div class="index-bg-one">
        <img src="/images/index-bg-2.png" width="100%" alt="" />
        <div class="index-bg-al">
            <div class="index-bg-al-title">
                <p style="font-size: 32px;">案例展示</p>
                <p style="font-size: 20px;">小程序、微信公众号、网站一体化创新设计开发解决方案</p>
            </div>
            <section class="m-case-list" style="margin-top: 30px;">
                <ul class="am-avg-sm-1 am-avg-md-3 am-avg-lg-3 am-thumbnails" style="margin: 0px auto;width: 1080px;">
                    <li data-am-scrollspy="{animation:'slide-bottom', delay: 196}" style="width: 360px;">
                        <figure class="effect-lily">
                            <img src="/images/index-al-1.png" width="330" alt="某某网络品牌VI设计" data-echo="uploadfiles/image/201509/46.jpg" class="am-img-responsive">
                            <figcaption>
                                <h3>SOLOVE素乐</h3>
                                <p>我想我会遇见你，像恋人般重逢美丽</p>
                                <a href="/post/62.html">View more</a>
                            </figcaption>
                        </figure>
                    </li>
                    <li data-am-scrollspy="{animation:'slide-bottom', delay: 196}" style="width: 360px;">
                        <figure class="effect-lily">
                            <img src="/images/index-al-1.png" width="330" alt="某某网络品牌VI设计" data-echo="uploadfiles/image/201509/46.jpg" class="am-img-responsive">
                            <figcaption>
                                <h3>SOLOVE素乐</h3>
                                <p>我想我会遇见你，像恋人般重逢美丽</p>
                                <a href="/post/62.html">View more</a>
                            </figcaption>
                        </figure>
                    </li>
                    <li data-am-scrollspy="{animation:'slide-bottom', delay: 196}" style="width: 360px;">
                        <figure class="effect-lily">
                            <img src="/images/index-al-1.png" width="330" alt="某某网络品牌VI设计" data-echo="uploadfiles/image/201509/46.jpg" class="am-img-responsive">
                            <figcaption>
                                <h3>SOLOVE素乐</h3>
                                <p>我想我会遇见你，像恋人般重逢美丽</p>
                                <a href="/post/62.html">View more</a>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </section>

        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>